body{
	font-family: "Arial";
	height: inherit !important;
    margin-top: 0;
    padding: 40px;
}

h2{
	font-family: "Trebuchet MS";
	text-transform: lowercase;
	color: #3b3f61;
	font-size: 40px;
	margin-top: -38px;
	margin-bottom: 15px;
}

.flex-container{
	display: flex;
}

.flex-container-wrap{
	display: flex;
    flex-wrap: wrap;
}  

.flex-horizontal{
	flex-direction: row;
}

.urlblock {
    width: 400px;
    height: 400px;
    background-color: #d3d3d3;
    margin: 10px;
    padding: 20px;
}

.urlblock p {
    font-family: "Trebuchet MS";
    font-size: 60px;
    margin: 0;
    font-weight: bolder;
}


.campaignblock {
    width: 700px;
    height: 200px;
    background-color: #d3d3d3;
    margin: 10px;
    padding: 20px;
}

.campaignblock h2 {
    font-family: "Trebuchet MS";
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
}
