body{
	font-family: "Arial";
	height: inherit !important;
    margin-top: 0;
    padding: 40px;
}

.flex-container{
	display: flex;
}

.flex-container-wrap{
	display: flex;
    flex-wrap: wrap;
}  

.flex-horizontal{
	flex-direction: row;
}

.flex-vertical{
	flex-direction: column;
}


.urlblock {
    width: 300px;
    height: 300px;
    background-color: #d3d3d3;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
}

.urlblock p {
    font-family: "Trebuchet MS";
    font-size: 40px;
    margin: 0;
    font-weight: bolder;
}

.campaignblock {
    width: 700px;
    height: 200px;
    background-color: #d3d3d3;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
}

.divborder-active {
  border-style: solid;
  border-width: 10px;
  border-color:#87b538;
}

.divborder-inactive {
    border-style: solid;
    border-color: red;
}

.campaignblock h2 {
    color: #3b3f61;
    font-family: "Trebuchet MS";
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
}

.campaign-playername {
    font-family: "Trebuchet MS";
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #ececec;
}

.generalblock {
    width: 100%;
    background-color: #d3d3d3;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 15px;
}

.generalblock h1 {
    color: #3b3f61;
    font-family: "Trebuchet MS";
    font-size: 40px;
    margin: 0;
    font-weight: bolder;
}

.generalblock h2 {
    color: #3b3f61;
    font-family: "Trebuchet MS";
    font-size: 20px;
    margin: 0;
    font-weight: bolder;
}

.tagspan {
    font-family: "Trebuchet MS";
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #87b538;
}

.campaign-description{
    margin-top: 15px;
}

.statname {
    text-transform: capitalize;
    font-weight: bold;
}

.statvalue {

}

.statlist {
    padding: 10px;
}

.statlist ul {
    list-style-type: none;
    padding: 0;
}

.subtitle {

    font-size: 25px;
}