{% extends "dndelements/standard.html" %}

{% block title %}
   {{ campaign.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dnd_campaigns' %}">Campaigns</a></li>
    <li class="breadcrumb-item active">{{ campaign.name }}</li>
{% endblock %}

{% block content %}

    <div class="generalblock">
        <h1>{{ campaign.name }}</h1>
        {% if campaign.running %}
            <span class="tagspan">This campaign is running!</span>
        {% endif %}

        <p class="campaign-description">{{ campaign.description }}</p>
        

        <h2>Players</h2>
        <p>
            <ul>
                {% for player in campaign.players.all %}
                    <li> {{ player.name }} ({{ player.owner}}) </li>
                {% endfor %}
            </ul>
        </p>

        <h2>Items</h2>
        <p>....</p>

        <h2>NPCs</h2>
        <p>...</p>
    </div>

    

{% endblock %}