{% extends "dndelements/standard.html" %}

{% block title %}
   {{ character.name }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'dnd_characters' %}">Characters</a></li>
    <li class="breadcrumb-item active">{{ character.name }}</li>
{% endblock %}

{% block content %}

    <div class="generalblock">
        <h1>{{ character.name }}</h1>
        <span class="tagspan">DnD version</span>

        <div class="statlist">
            <ul>

            {% for field, value in statlist_modifiers.items %}
                <li><span class="statname">{{ field }}</span> <span class="statvalue">{{ value.0 }} ({% if value.1 > 0 %}+{% endif %}{{value.1}})</span></li>
            {% endfor %}
            </ul>
        </div>
    </div>

    

{% endblock %}