{% extends "dndelements/standard.html" %}


{% block title %}
   Dnd Elements - {{ name }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">{{ name }}</li>
{% endblock %}


{% block content %}

<script type='text/javascript'>
  
  var x = 4;
  var npcs_j = '{{ npcs_json|safe }}';
  alert("TESTTT")
  
</script>

  <div class="mb-4">
    <a href="{% url 'dnd_npc_new' %}" class="btn btn-primary">New NPC</a>
  </div>

  <div class="flex-container flex-vertical">

    <!-- vue element -->
    [[ npcs ]]

    {% for npc in data %}

        <div class="campaignblock">
            <a href="{% url 'dnd_npc_details' npc.pk %}"><h2>{{ npc.name }}</h2></a>
            <p class="subtitle">{{ npc.race.name }} {{ npc.player_class.name }}</p>
            <p>Location</p>
            <p>Campaign</p>

        </div>

    {% endfor %}

  </div>

{% endblock %}